<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>Autores</title>
</head>
<body>
    <h1>Lista de Autores</h1>
    <ul class = "list-group">
        <li class="list-group-item d-flex justify-content-between" 
        th:each="author: ${authors}">
            <span th:text="'Nome: ' + ${author.name}"/>
                <a th:href = "'author/deleteAuthor/'+${author.id}">Excluir</a>
        </li>
    </ul>
</body>
</html>