<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detalhes</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container mx-auto vh-100 p-2">
      <div class="row justify-content-center align-content-center vh-100 card">
        <div class="col-lg-3"></div>

        <div class="col-lg-6">
          <div class="container justify-content-lg-start">
            <div class="row">
              <div class="col-lg-12">
                <h1><p th:text="${book.title}"></p></h1>
                <h3><p th:text="'Edição: ' + ${book.edition}"></p></h3>
                <h3><p th:text="'Editora: ' + ${book.publisher.name}"></p></h3>
                <h3><p th:text="'Páginas: ' + ${book.numberOfPages}"></p></h3>
                <h3><p th:text="'Data: ' + ${book.publicationDate}"></p></h3>
                <h3>Autores: </h3><br>
                <table class="table table-dark rounded rounded-3 overflow-hidden">
                  <thead>
                    <tr>
                      <th th:text="Id"></th>
                      <th th:text="Autor"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr th:each="author: ${book.authors}">
                      <td th:text="${author.id}"></td>
                      <td th:text="${author.name}"></td>
                    </tr>
                  </tbody>
                </table>
                <input class="btn btn-primary" type="button" value="Voltar" onclick="history.back()">
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3"></div>
      </div>
    </div>
  </body>
</html>