<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>Home</title>
</head>
<body>
    <h1>Bem vindo!!</h1>
    <br>
    <h3>Escolha o módulo que deseja acessar:</h3>
    <a href="author/getAuthorsList" style="text-decoration: none;">Módulo Autor</a><br>
    <a href="book/getBooksList" style="text-decoration: none;">Módulo Livro</a><br>
    <a href="publisher/getPublishersList" style="text-decoration: none;">Módulo Editora</a>
</body>
</html>
